html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Castoro', serif;
    line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
   }
.header{
    margin-top: 192px;
}
  .h11{
    font-family: Castoro;
  font-size: 128px;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-align: left;
  margin-left: 312px;
  }
  .h12{
    font-family: Castoro;
  font-size: 128px;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-align: left;
  margin-left: 972px;
  }
  .imgheader{
    width: 636px;
    margin-left: 642px;
  }
.content{
    width: 1920px;
    height: 432px;
    background-color:#EFEFEF;
    padding-top: 48px;
    padding-bottom: 48px;
    box-sizing: border-box;
}
.content p{
    font-family: Castoro;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;  
    width: 636px;
    height: 336px;
    margin-left: 972px;
    display: block;
}
.content2{
    margin-top: 40px;
    margin-left: 312px;
}
.content2 span{
    margin-top: 40px;
    font-family: Castoro;
    font-size: 40px;
    width: 636px;
    height: 60px;
    top: 1904px;
    left: 312px;
    border: 0px 0px 3px 0px;
    border-bottom: 3px solid #AE0000;
    color: #AE0000;
    display: block;
    margin-bottom: 16px;
}
.content2 p {
    font-family: Castoro;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;    
}
.year{
    font-family: Castoro;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #949494    ;
    text-decoration: none;
    margin-top: 16px;
}
.footer{
    box-sizing: border-box;
    height: 192px;
    width: 1920px;
    background-color: black;
    padding: 64px;
    margin-top: 160px;
}

.FB{
    margin-right: 32px;
}
.IG{
    margin-right: 32px;
}

.imgall{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}